* {
    margin: 0;
}
body {
    background-color: #1e1e2e; /* Mocha base color */
}
.center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100vh;
    height: 60vh;
}
.child {
    margin: 10px auto auto auto;
    border: #cba6f7 0.5vh solid; /* Lavender */
    width: 85vh;
    height: 50vh;
    background-color: #1e1e2e;
    background-image: radial-gradient(#585b70 10%, transparent 10%); /* Overlay */
    background-size: 2vh 2vh;
    cursor: url("cross_1.png") 15 15, auto;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.child:hover {
    border: #302d41 0.5vh solid; /* Surface2 */
    box-shadow: 0px 0px 10px #302d41; /* Surface2 glow */
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#target {
    visibility: hidden;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    background-color: #f5e0dc; /* Rosewater */
    transition: 0.5s;
    box-shadow: 0px 0px 25px #f5e0dc; /* Rosewater glow */
    position: absolute;
}
#score {
    font-family: monospace;
    margin: auto;
    font-size: 3vh;
    color: #cba6f7; /* Lavender */
    float: left;
    font-weight: 600;
}
#mistake {
    font-family: monospace;
    margin: auto;
    font-size: 3vh;
    color: #cba6f7; /* Lavender */
}
#timer {
    font-family: monospace;
    margin: auto;
    font-size: 3vh;
    color: #cba6f7; /* Lavender */
    font-weight: 600;
}
#start {
    font-family: monospace;
    width: 20vh;
    margin-top: 22.5vh;
    margin-left: 32.5vh;
    border: #a6adc8 2px solid; /* Overlay2 */
    text-align: center;
    font-size: 3vh;
    color: #cba6f7; /* Lavender */
    background-color: #181825; /* Surface1 */
    transition: 0.5s;
    position: absolute;
    border-radius: 7px;
}
#start:hover {
    cursor: pointer;
    background-color: #11111b; /* Surface0 */
    transform: scale(1.05);
}
img {
    margin-right: 3%;
    margin-left: 3%;
}
#cross_1 {
    width: 3vh;
    height: 3vh;
}

#cross_3 {
    width: 1.5vh;
    height: 1.5vh;
}
