* {
    margin: 0;
    font-family: monospace;
}
body {
    background-color: #1e1e2e; /* Mocha base color */
}
div {
    width: auto;
    height: auto;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img {
    border-radius: 25px;
    border: #cba6f7 4px solid; /* Lavender */
    width: 250px;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    transition: 1s;
}
img:hover {
    width: 300px;
    border-color: #f5c2e7; /* Pink */
    box-shadow: 0px 0px 50px #f5c2e7; /* Pink glow */
}
#info {
    font-size: 50px;
    color: #cdd6f4; /* Text color */
    position: absolute;
    display: flex;
    margin-top: 50vh;
    font-weight: 600;
}
h1 {
    font-size: 60px;
    color: #cba6f7; /* Lavender */
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
