* {
    margin: 0%;
    font-family: monospace;
}
body {
    background-color: #000;
}
div {
    width: auto;
    height: auto;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img {
    border-radius: 25px;
    border: #903cff 4px solid;
    width: 250px;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    transition: 1s;
}
img:hover {
    width: 300px;
    border-color: #a560ff;
    box-shadow: 0px 0px 50px #a560ff;
}
#info {
    font-size: 50px;
    color: aliceblue;
    position: absolute;
    display: flex;
    margin-top: 50vh;
    font-weight: 600;
}
h1{
    font-size: 60px;
    color: #903cff;
    position: absolute;
    display: flex;
    width: 100%;
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
